@use 'sizes';




body {
    background-color: navy;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.game-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
    .game {
        background-color: aqua;
        color: black;
        width: 100px;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
    
    .game.selected {
        background-color: rebeccapurple;
        color: whitesmoke;
    }
}



.card-collection {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
  
    .card {
        border-color: white;
        border-width: 0.5px;
        border-style: solid;
        width: 70px;
        height: 100px;
        @media (width < sizes.$lg) {
            width: 3.5rem;
            height: 4rem;
            font-size: large;
        }
        border-radius: 10px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    
    .wild {
        background: linear-gradient(90deg, red 0%, blue 33%, yellow 66%, green 100%);
        color: white;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    
    .selected {
        border: turquoise 5px solid;
        font-size: x-large;
    }
    
}


.build-piles{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    .discard-pile {
        display: flex;
        align-items: center;
    
        min-height: 100px;
        @media (width < sizes.$lg) {
            min-height: 4rem;
        }
        background-color: purple;
        
    }
    
    .selected {
        border: aqua solid 5px;
    }
}


.discard-piles{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .discard-pile {
        display: flex;
        align-items: center;
    
        min-height: 100px;
        @media (width < sizes.$lg) {
            min-height: 4rem;
        }
        background-color: red;
        
    }
    
    .selected {
        border: aqua solid 5px;
    }
}



